.skills-container {
    width: 90vw;
    // background-image: url('https://live.staticflickr.com/960/41428774775_88f6a5981e_b.jpg');
    background-size: cover;
    background: whitesmoke;
}

.skills {
    border: 1px solid red;
    height: 80vh;
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 8px;
}

.logo-img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    padding: 4px;
    margin: 4px;
    // border: 1px solid blue;
}

.contain {
    object-fit: contain;
}
